# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea
*.iml
*.ipr
*.iws
out
.project
.classpath
*.log
*.log.gz

src/docs/generated-snippets/
src/ratpack/public/docs
local.properties

*.DS_Store
./**/*.DS_Store

.vscode